.index__accordion-button {
  background: transparent url(../../../images/icon_arrow-down.svg) no-repeat;
  background-size: 24px 24px;
  background-position: center;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.index__accordion-button:hover {
  opacity: .6;
}
