.index__chapter-block {
    display: grid;
    align-items: flex-start;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #E6E7EB;
    padding: 32px 0 32px 0;
}

.index__chapter-block:last-child {
    border-bottom: 0px;
    padding: 32px 0 0 0;
}

.index__chapter-block:first-child {
    padding: 0 0 33px 0;
}
